.damage {
	position: absolute;
	top: 930px;
	left: 1890px;
	padding: 10px;

	.carDamage {
		position: absolute;
		bottom: 100%;
		right: 0;
		width: 210px;
		margin-bottom: 20px;
		.part {
			.label {
				display: inline-block;
				font-size: 14px;
				width: 90px;
				position: relative;
				top: 2px;
				text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
			}
			.barContainer {
				display: inline-block;
				width: 110px;
				background: rgba(0, 0, 0, 0.5);
				border-radius: 5px;
				.bar {
					height: 4px;
					border-radius: 5px;
					background: #fff;
				}
			}
			&.bad {
				color: orange;
				.barContainer .bar {
					background: orange;
				}
			}
			&.broken {
				.barContainer .bar {
					color: red;
				}
			}
		}
	}
}
