.gforce {
	width: 100px;
	height: 100px;
	bottom: 40px;
	right: 380px;
	position: absolute;
	border-radius: 100%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) inset;
	background: rgba(0, 0, 0, 0.5) url(./../../img/grid.png);
	transition: background 1s;
	.point {
		transform-origin: top left;
		width: 10px;
		height: 10px;
		position: absolute;
		border-radius: 100%;
		transform: translate(-50%, -50%);
		background: #fff;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		text-shadow: 0 0 10px #000, 0 0 10px #000, 0 0 10px #000;
		font-size: 10px;
	}
	.ring {
		transform-origin: top left;
		position: absolute;
		top: 50%;
		left: 50%;
		border-radius: 100%;
		transform: translate(-50%, -50%);
		border: 2px solid #333;
		&.ring-1 {
			width: 25%;
			height: 25%;
		}
		&.ring-2 {
			width: 50%;
			height: 50%;
		}
		&.ring-3 {
			width: 75%;
			height: 75%;
		}
		&.ring-4 {
			width: 100%;
			height: 100%;
		}
	}

	.line-horizontal {
		border-top: 1px solid #444;
		border-bottom: 1px solid #444;
		position: absolute;
		width: 50%;
		top: 50%;
		margin-top: -1px;
		&.line-left {
			left: 0;
		}
		&.line-right {
			right: 0;
		}
	}
	.line-vertical {
		border-left: 1px solid #444;
		border-right: 1px solid #444;
		position: absolute;
		height: 50%;
		left: 50%;
		margin-left: -1px;
		&.line-top {
			top: 0;
		}
		&.line-bottom {
			bottom: 0;
		}
	}
	.letter {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin-top: 1px;
	}

	.gripLevel {
		position: absolute;
		z-index: 11;
		font-size: 10px;
		width: 20px;
		height: 20px;
		width: 50%;
		height: 50%;

		&.fl {
			top: 0;
			left: 0;
			border-top: 4px solid purple;
			border-left: 4px solid purple;
			border-radius: 100% 0 0 0;
		}
		&.fr {
			top: 0;
			right: 0;
			border-top: 4px solid purple;
			border-right: 4px solid purple;
			border-radius: 0 100% 0 0;
		}
		&.rl {
			bottom: 0;
			left: 0;
			border-bottom: 4px solid purple;
			border-left: 4px solid purple;
			border-radius: 0 0 0 100%;
		}
		&.rr {
			bottom: 0;
			right: 0;
			border-bottom: 4px solid purple;
			border-right: 4px solid purple;
			border-radius: 0 0 100% 0;
		}
	}
}
